/*Start Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset*/

:root {
    --bg-color: #121214;

    --base-color: 194;
    --bg-selectors-primary: #E1E1E6;
    --bg-selectors-secondary: #02799D;
    --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --primary-color: hsl(var(--base-color), 100%, 63%);

    --text-color: #323238;

    font-size: 62.5%;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    align-self: center;
    justify-self: center;
    
}

.left {
    display: grid;
    align-content: center;
}

.timer span{
    font-size: 12.6rem;
    color: var(--text-color);
}

.timerButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

.right div {
    display: grid;

    background-color: var(--bg-selectors-primary);
    
    width: 13.8rem;
    height: 15.2rem;

    border-radius: 1.7rem;
}

.right div img {
    align-self: center;
    justify-self: center;
}
.right div {
    cursor: pointer;
}

#blue {
    background-color: var(--bg-selectors-secondary);
}

/*Hide*/

.hide {
    display: none;
}

/*Controls*/

button {
    border: none;
    background-color: unset;
}

.play:hover,
.stop:hover,
.plusFiveMin:hover,
.minusFiveMin:hover {
    cursor: pointer;
}

